<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a markdown cell with the title of the notebook. (1 pt)
- Create a markdown cell for an introduction. (1 pt)
- Create a markdown cell to list data science languages. (3 pts)
- Create a markdown cell to list data science libraries. (3 pts)
- Create a markdown cell with a table of Data Science tools. (3 pts)
- Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Create a code cell to multiply and add numbers.(2 pts)
- Create a code cell to convert minutes to hours. (2 pts)
-Insert a markdown cell to list Objectives. (3 pts)
- Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
- Share your notebook through GitHub (3 pts)
- Take a screenshot of the first page of the notebook. (1 pt)

## Author
AH

Some of the popular languages that Data Scientists use are:
1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Plotly
2. Matplotlib
3. Pandas

| Data Science Tools |
| ------------------|
| Juyter Notebooks |
| R Studio's |
| Zeppelin Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
x = 1
y = 2
z = x+y
print(z)

3

In [2]:
x = 2
y = 3
z = x*y
print(z)

6

In [4]:
x = 2
y = 4
z = x-y
print(z)

-2

In [5]:
x = 2
y = 4
z = x/y
print(z)

0.5

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335